.main{
<<<<<<< HEAD
    margin-left: 230px;
    margin-top: 65px;
=======
    margin-left: 220px;
    margin-top: 60px;
>>>>>>> 478dbc9d59647b8d7d6ed202f44ca5ed8c7d2520
    padding: 10px;
}
.promo{
    text-align: center;
    padding: 20px;
    background: linear-gradient(90deg, #8a6bcc, #130043);
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
}

.deals{
    padding: 0;
}

.product-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

.pp{
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

.product{
    border: solid grey;
    border-radius: 10px;
    text-align: center;
    line-height: 5px;
}

section{
<<<<<<< HEAD
     padding-top: 6dvh;
}

@media(max-width: 750px){
    .main{
        margin-left: 160px;
    }
}

@media(max-width: 650px){
    .main{
        margin-left: 0;
    }
}
=======
     padding-top: 50px;
}


>>>>>>> 478dbc9d59647b8d7d6ed202f44ca5ed8c7d2520
